body{
  background-image: url(../images/vitamin_background_coming_soon.jpeg);
  background-size: cover;
  padding-top: 100px;
}

h1,h2{
  color: white;
  font-size: 56px;
  text-align: center;
}

h2{
  font-size: 46px;
}
